.checkbox {
    display: flex;
    align-items: center;
}

.checkbox label {
    cursor: pointer;
}

/* for hide real input tag*/
.checkbox input {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}

.checkbox span {
    font-size: 1.125rem;
    font-weight: bold;
}

.icon {
    display: flex;
    align-items: center;
    /* can modify icon size by edit font-size */
    font-size: 2rem;
    margin-right: 0.25rem;
    color: #adb5bd;
}

.checked {
    color: #339af0;
}